﻿@using Umbraco.Web.Models;
@using System.Linq;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.PageBaseModel>

@{
    Layout = "MasterPage.cshtml";

    A8.CommonUmbraco.AddBodyAttribute("class", "v-catalogue-page home page-template-default page template-slider color-custom style-default button-flat layout-full-width if-zoom if-border-hide no-content-padding hide-love header-creative minimalist-header-no ab-hide subheader-both-left menu-link-color mobile-tb-center mobile-side-slide mobile-mini-mr-lc mobile-header-mini");
}

<div id="Wrapper">
    <div id="Header_wrapper">
        <header id="Header"></header>
        <div id="Subheader" class="rbi">
            @{
                IPublishedContent headerImage = Model.Content.GetPropertyValue<IPublishedContent>("headerImage");
                if (headerImage != null)
                {
                    @Html.Raw(A8.Common.GeneratePictureTag(headerImage.Url, "land-16-9", string.Empty, string.Empty, string.Empty, 2560, true))
                }
            }
            <div class="container">
                <div class="column one">
                    <h1 class="title">@(Model.Content.Name)</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="container">
            @Html.Partial("~/Views/Partials/Parts/Breadcrumbs/Breadcrumbs.cshtml", Model)
            @{
                IPublishedContent catalogueList = Model.Content.GetPropertyValue<IPublishedContent>("catalogueList");
                if (catalogueList != null)
                {
                    @Html.Partial("~/Views/Partials/Renderers/CatalogueList/CatalogueList.cshtml", new A8.ContentFlowModel()
                        {
                            Content = catalogueList
                        })
                }
            }
        </div>
    </div>
    @Html.Partial("~/Views/Partials/Parts/Footer/Footer.cshtml", Model)
</div>