﻿@using Umbraco.Web.Models;
@using System.Linq;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.PageBaseModel>

@{
    Layout = "MasterPage.cshtml";

    A8.CommonUmbraco.AddBodyAttribute("class", "v-catalogue-item home page-template-default page template-slider color-custom style-default button-flat layout-full-width if-zoom if-border-hide no-content-padding hide-love header-creative minimalist-header-no ab-hide subheader-both-left menu-link-color mobile-tb-center mobile-side-slide mobile-mini-mr-lc mobile-header-mini");

    // fallback
    string title = Model.Content.Name;
    string headerImage = string.Empty;
    string subTitle = string.Empty;
    string location = string.Empty;
    IEnumerable<IPublishedContent> content = null;

    switch (Model.CatalogueDetailTypeAlias)
    {
        case "cat_OneNews":
            {
                A8.Catalogues.OneNews catalogueItem = (A8.Catalogues.OneNews)Model.CatalogueDetailItem;
                title = catalogueItem.Name;
                headerImage = catalogueItem.Image;
                subTitle = catalogueItem.Date.ToString("dd.MM.yyyy");
                content = catalogueItem.Content;
                break;
            }
        case "cat_Event":
            {
                A8.Catalogues.Event catalogueItem = (A8.Catalogues.Event)Model.CatalogueDetailItem;
                title = catalogueItem.Name;
                headerImage = catalogueItem.Image;
                subTitle = (catalogueItem.Location.Length > 0 ? catalogueItem.Location + ", " : string.Empty) + A8.Common.DateFromToAsString(catalogueItem.DateFromTo.DateFrom, catalogueItem.DateFromTo.DateTo, false);
                content = catalogueItem.Content;
                break;
            }
    }
}

<div id="Wrapper">
    <div id="Header_wrapper">
        <header id="Header"></header>
        <div class="page-header rbi" id="Subheader">
            @{
                if (headerImage.Length > 0)
                {
                    @Html.Raw(A8.Common.GeneratePictureTag(headerImage, "land-16-9", string.Empty, string.Empty, string.Empty, 2560, true))
                }
            }
            <div class="container">
                <div class="column one">
                    <h1 class="title">@(title)</h1>
                    <div class="page-header__meta">
                        @if (subTitle.Length > 0)
                        {
                            <div class="page-header__meta-item">
                                @Html.Raw(subTitle)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="container">
            @Html.Partial("~/Views/Partials/Parts/Breadcrumbs/Breadcrumbs.cshtml", Model)
            @Html.Partial("~/Views/Partials/Renderers/ContentFlow/ContentFlow.cshtml", new A8.ContentFlowModel()
            {
                ContentItems = content
            })
        </div>
    </div>
    @Html.Partial("~/Views/Partials/Parts/Footer/Footer.cshtml", Model)
</div>
