﻿@using Umbraco.Web.Models;
@using System.Linq;
@using System.Web.Optimization;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.PageBaseModel>

@{
    Layout = null;

    // check if document has form -> load angular
    bool needsAngular = false;
    if (Model.Content.HasProperty("content"))
    {
        // form needs angular
        if (Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content")?.Any(x => x.DocumentTypeAlias == "ecFormPicker") ?? false)
        {
            needsAngular = true;
        }
    }
}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="@Model.Content.GetCulture().TwoLetterISOLanguageName.ToLower()" class="no-js">
<!--<![endif]-->
<head>
    <title>@(Model.PageHtmlTitle)</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="@(Model.MetaKeywords)">
    <meta name="description" content="@(Model.MetaDescription)">
    <meta name="robots" content="@(A8.Common.VerifyTrue(Model.NoIndex) ? "no" : string.Empty)index">
    <meta name="robots" content="@(A8.Common.VerifyTrue(Model.NoFollow) ? "no" : string.Empty)follow">
    <link rel="shortcut icon" type="image/x-icon" href="@Href("~/favicon.ico")">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="@(Model.OgTitle)" />
    <meta property="og:description" content="@(Model.OgDescription)" />
    <meta property="og:image" content="@(Model.OgImage)" />
    <meta property="og:image:secure_url" content="@(Model.OgImage)" />
    <meta property="og:url" content="@(HttpContext.Current.Request.Url.OriginalString)" />

    @{
        IEnumerable<IPublishedContent> langs = Model.SiteSettingsContent.GetPropertyValue<IEnumerable<IPublishedContent>>("langSelector", true);
        foreach (var urlAndLanguage in A8.CommonUmbraco.UrlsAndLanguages(Model.Content))
        {
            // write only if this lang is published aka defined in siteselector
            if (langs.Any(x => urlAndLanguage.Url.ToLower().StartsWith(x.Url.ToLower())))
            {
                // write only if this page has relation
                if (!urlAndLanguage.NoRelation)
                {
                    <link rel="alternate" hreflang="@urlAndLanguage.LangCode" href="@(urlAndLanguage.Url + (Model.CatalogueDetailId > 0 ? Model.CatalogueDetailId.ToString() + "-" : string.Empty))" />
                    if (urlAndLanguage.IsCurrentLanguage)
                    {
                        <meta http-equiv="content-language" content="@urlAndLanguage.LangCode" />
                        <link rel="canonical" href="@(urlAndLanguage.Url + (Model.CatalogueDetailId > 0 ? Model.CatalogueDetailId.ToString() + "-" : string.Empty))" />
                    }
                }
            }
        }
    }

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,300,400,400italic,500,700,700italic'>

    @Scripts.RenderFormat(@"<link href=""{0}"" rel=""stylesheet"" type=""text/css"" />", HttpUtility.UrlPathEncode("~/bundles/styles/head.css"))

    @if (needsAngular)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                siteApp = angular.module("siteApp", [])
                    .config(['$compileProvider', function ($compileProvider) {
                        $compileProvider.debugInfoEnabled(false);
                        $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|javascript|tel):/);
                    }]);
            });
        </script>
    }

    @Html.Raw(A8.CommonUmbraco.GetHeadElements())

    @Html.Raw(Model.RawHtmlHead)
</head>
<body ng-app="siteApp" @Html.Raw(A8.CommonUmbraco.GetBodyAttributesAsString())>
    <div class="loading-overlay"></div>

    @Html.Raw(Model.RawHtmlBodyStart)

    @Html.Partial("~/Views/Partials/Parts/Header/Header.cshtml", Model)

    @RenderBody()

    @Html.Partial("~/Views/Partials/Parts/CookieConsent/CookieConsent.cshtml", Model)

    @Html.Raw(Model.RawHtmlBodyEnd)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Change class to your content outer container.
            var fullContainer = $('body');
        });
    </script>

    @Scripts.RenderFormat(@"<link href=""{0}"" rel=""stylesheet"" type=""text/css"" />", HttpUtility.UrlPathEncode("~/bundles/styles/main.css"))
    @Scripts.RenderFormat(@"<script src=""{0}""></script>", HttpUtility.UrlPathEncode("~/Scripts/jquery-2.2.4.min.js"))
    @if (needsAngular)
    {
        @Scripts.RenderFormat(@"<script src=""{0}""></script>", HttpUtility.UrlPathEncode("~/Scripts/angular.min.js"))

    }
    @Scripts.RenderFormat(@"<script src=""{0}""></script>", HttpUtility.UrlPathEncode("~/bundles/scripts/main.js"))

    <script src="/js/mfn.menu.js"></script>
    <script src="/js/jquery.plugins.js"></script>
    <script src="/js/jquery.jplayer.min.js"></script>
    <script src="/js/animations/animations.js"></script>
    <script src="/js/translate3d.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/custom.js"></script>

    <!-- cache timestamp: @(DateTime.Now)-->
</body>
</html>

