﻿<?xml version="1.0" encoding="UTF-8" ?>
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    Response.ContentType = "text/xml";

    string[] excludeDocTypes = {
                "siteSettings"
                ,"notFound404"
                ,"siteMap"
            };

    var langRoot = Model.Content.AncestorOrSelf("firstPage");
    var selection = langRoot.DescendantsOrSelf()
        .Where(x => x.IsVisible())
        .Where(x => !excludeDocTypes.Contains(x.DocumentTypeAlias))
        .Where(x => !A8.Common.VerifyTrue(x.GetPropertyValue("seoExcludeFromSitemap")));
}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    @{
        if (selection.Any())
        {
            foreach (var item in selection)
            {
                var lastModified = item.UpdateDate.ToString("yyyy-MM-dd");
                <url>
                    <loc>@item.Url</loc>
                    <lastmod>@lastModified</lastmod>
                    <changefreq>monthly</changefreq>
                    <priority>1</priority>
                </url>
            }
        }
    }
</urlset>