﻿@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IEnumerable<IPublishedContent> items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("attachments");

    if (items == null || !items.Any())
    {
        return;
    }

    foreach (IPublishedContent item in items)
    {
        IPublishedContent mediaFile = item.GetPropertyValue<IPublishedContent>("file");
        if (mediaFile == null)
        {
            continue;
        }

        string fileExtension = mediaFile.GetPropertyValue<string>("umbracoExtension");
        int fileSize = mediaFile.GetPropertyValue<int>("umbracoBytes");
        string fileIcon = GetFileIconType(fileExtension);

        string title = A8.Common.CheckStr(item.GetPropertyValue<string>("title"));
        if (title.Length == 0)
        {
            title = mediaFile.Name;
        }

        <div class="r-item r-attachment">
            <a class="r-attachment__link" href="@mediaFile.Url" target="_blank" title="@title">
                <img class="r-attachment__image" src="@Url.Content("~/images/attachmentIcons/" + fileIcon)" alt="@title" />
                <div class="r-attachment__content">
                    <span class="r-attachment__title">@title</span>
                    <span class="r-attachment__file-size">(@CalcFileSize(fileSize))</span>
                </div>
            </a>
        </div>
    }
}

@functions {
    public static string GetFileIconType(string fileExtension)
    {
        string defIcon = "base.svg";
        switch (fileExtension)
        {
            case "doc":
            case "docx":
                {
                    defIcon = "doc.svg";
                    break;
                }
            case "xls":
            case "xlsx":
                {
                    defIcon = "xls.svg";
                    break;
                }
            case "ppt":
            case "pptx":
                {
                    defIcon = "ppt.svg";
                    break;
                }
            case "pdf":
                {
                    defIcon = "pdf.svg";
                    break;
                }
            case "txt":
                {
                    defIcon = "txt.svg";
                    break;
                }
        }
        return defIcon;
    }

    public static string CalcFileSize(int sizeBytes)
    {
        string[] sizes = { "B", "KB", "MB", "GB", "TB" };
        double len = sizeBytes;
        int order = 0;
        while (len >= 1024 && order < sizes.Length - 1)
        {
            order++;
            len = len / 1024;
        }

        return String.Format("{0:0.##} {1}", len, sizes[order]);
    }

}