﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string title = Model.Content.GetPropertyValue<string>("title");
    string headingLevel = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("headingLevel")?.SavedValue, "h2", true);
    string horizontalAlignment = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("horizontalAlignment")?.SavedValue, "left", true);
    string anchor = A8.Common.CheckStr(Model.Content.GetPropertyValue<string>("anchor"));
}

<div class="r-item r-heading r-heading--@(horizontalAlignment)">
    @Html.Raw("<" + headingLevel + (anchor.Length > 0 ? " name=\"" + HttpUtility.HtmlEncode(anchor) + "\"" : string.Empty) + ">" + title + "</" + headingLevel + ">")
</div>