﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string text = Model.Content.GetPropertyValue<string>("text");
    string textSize = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("textSize")?.SavedValue, "normal", true);
}

<div class="r-item r-text r-text--@(textSize)">
    @Html.Raw(TemplateUtilities.ParseInternalLinks(text, UmbracoContext.Current.UrlProvider))
</div>