﻿
<div class="umb-panel form-editor-edit-field" ng-controller="FormEditor.Editor.FieldControllerExtendedCardPicker">
	<div class="umb-panel-body no-header with-footer umb-scrollable" ng-init="dialogData.field.multiSelect = false;">
		<div class="umb-control-group">
			<div class="tab-content form umb-el-wrap">
				<form-editor-field-header></form-editor-field-header>

				<div class="umb-pane">
					<form-editor-field-basics></form-editor-field-basics>

					<label class="control-label" for="defaultText">
						<form-editor-localize key="edit.defaultText">Default option text</form-editor-localize>
						<small form-editor-localize key="edit.defaultText.helpText">E.g. "Select..." - if left blank, no default option will be used</small>
					</label>
					<input type="text" id="defaultText" ng-model="dialogData.field.defaultText" />

					<div>
						<label class="control-label">
							<form-editor-localize key="edit.options">Options</form-editor-localize>
							<small form-editor-localize key="edit.options.helpText">Add the options the users should be able to choose from</small>
						</label>
						<div class="fieldValues">
							<div ui-sortable="sortableOptionsFieldValues" ng-model="dialogData.field.fieldValues">
								<div class="fieldValue selectable" ng-repeat="fieldValue in dialogData.field.fieldValues">
									<input ng-if="multiValueField" type="text" ng-model="fieldValue.text" form-editor-multi-select-value />
									<div>
										<div ng-if="!multiValueField">

											<label class="control-label">
												<form-editor-localize key="edit.image.choose">Choose image</form-editor-localize>
												<small form-editor-localize key="edit.image.choose.helpText">Click below to choose an image</small>
											</label>
											<div class="imageField">
												<div ng-show="fieldValue.mediaId == 0 || !fieldValue.mediaUrl">
													<a href ng-click="pickImageFromRepeter($index)" class="umb-mediapicker" ng-show="fieldValue.mediaId == 0">
														<div class="add-link">
															<i class="icon icon-add large"></i>
														</div>
													</a>
												</div>
												<div ng-show="fieldValue.mediaId != 0 && fieldValue.mediaUrl">
													<a href ng-click="pickImage()">
														<div class="thumbnail">
															<img src="{{fieldValue.mediaUrl}}?width=300&mode=max" />
														</div>
													</a>
													<i class="icon icon-delete dimmed" ng-click="fieldValue.mediaId = 0;fieldValue.mediaUrl = null" />
												</div>
											</div>

										</div>
										<div ng-if="!multiValueField">
											<label style="display:inline-block;width: 70px;">Text: </label>
											<input type="text" ng-model="fieldValue.text" />
										</div>
									</div>
									<span class="fieldValueTools">
										<label>
											<input type="checkbox" ng-model="fieldValue.selected" ng-click="setSelectedFieldValue($index)" />
											<form-editor-localize key="{{optionSelectedTextKey}}">{{optionSelectedTextDefault}}</form-editor-localize>
										</label>
										<i class="icon icon-delete dimmed" ng-click="removeFieldValue($index)"></i>
									</span>
								</div>
							</div>
							<i class="icon icon-add dimmed" ng-click="addCardPickerFieldValue()">
								<small form-editor-localize key="edit.options.add" default-value="Add an option" />
							</i>
						</div>
					</div>

					<label class="control-label" for="urlParameter">
						<form-editor-localize key="a8.custom.cardPicker.urlParameter">URL parameter</form-editor-localize>
						<small form-editor-localize key="a8.custom.cardPicker.urlParameter.helpText"></small>
					</label>
					<input type="text" id="urlParameter" ng-model="dialogData.field.urlParameter" />

					<form-editor-field-mandatory></form-editor-field-mandatory>
					<form-editor-field-error-message></form-editor-field-error-message>
				</div>
			</div>
		</div>
	</div>

	<form-editor-field-footer></form-editor-field-footer>
</div>