﻿<div class="umb-panel form-editor-edit-field" ng-controller="FormEditor.Editor.FieldController">
	<div class="umb-panel-body no-header with-footer umb-scrollable" ng-init="dialogData.field.multiSelect = false;">
		<div class="umb-control-group">
			<div class="tab-content form umb-el-wrap">
				<form-editor-field-header></form-editor-field-header>

				<div class="umb-pane">
					<form-editor-field-basics></form-editor-field-basics>

					<label class="control-label" for="defaultText">
						<form-editor-localize key="edit.defaultText">Default option text</form-editor-localize>
						<small form-editor-localize key="edit.defaultText.helpText">E.g. "Select..." - if left blank, no default option will be used</small>
					</label>
					<input type="text" id="defaultText" ng-model="dialogData.field.defaultText" />

					<div>
						<label class="control-label">
							<form-editor-localize key="edit.options">Options</form-editor-localize>
							<small form-editor-localize key="edit.options.helpText">Add the options the users should be able to choose from</small>
						</label>
						<div class="fieldValues">
							<div ui-sortable="sortableOptionsFieldValues" ng-model="dialogData.field.fieldValues">
								<div class="fieldValue selectable" ng-repeat="fieldValue in dialogData.field.fieldValues">
									<!--
					  it looks like ng-attr-* doesn't work in the current AngularJS version (1.1.5 at the time of writing)
					  - we'll have to apply the form-editor-multi-select-value by hand then
					-->
									<input ng-if="multiValueField" type="text" ng-model="fieldValue.value" form-editor-multi-select-value />
									<div>
										<div ng-if="!multiValueField">
											<label style="display:inline-block;width: 70px;">Value: </label>
											<input ng-if="!multiValueField" type="text" ng-model="fieldValue.value" />
										</div>
										<div ng-if="!multiValueField">
											<label style="display:inline-block;width: 70px;">Text: </label>
											<input type="text" ng-model="fieldValue.text" />
										</div>
									</div>
									<span class="fieldValueTools">
										<label>
											<input type="checkbox" ng-model="fieldValue.selected" ng-click="setSelectedFieldValue($index)" />
											<form-editor-localize key="{{optionSelectedTextKey}}">{{optionSelectedTextDefault}}</form-editor-localize>
										</label>
										<i class="icon icon-delete dimmed" ng-click="removeFieldValue($index)"></i>
									</span>
								</div>
							</div>
							<i class="icon icon-add dimmed" ng-click="addFieldValue()">
								<small form-editor-localize key="edit.options.add" default-value="Add an option" />
							</i>
						</div>
					</div>

					<label class="control-label" for="urlParameter">
						<form-editor-localize key="a8.custom.dropdown.urlParameter">URL parameter</form-editor-localize>
						<small form-editor-localize key="a8.custom.dropdown.urlParameter.helpText"></small>
					</label>
					<input type="text" id="urlParameter" ng-model="dialogData.field.urlParameter" />

					<form-editor-field-mandatory></form-editor-field-mandatory>
					<form-editor-field-error-message></form-editor-field-error-message>
				</div>
			</div>
		</div>
	</div>

	<form-editor-field-footer></form-editor-field-footer>
</div>