.r-section {
  &--full-width {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--full-width-stretched {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--style-red {
    background-color: @red;
  }

  &--style-green {
    background-color: @green;
  }

  &--style-blue {
    background-color: @blue;
  }
}