﻿@using Umbraco.Web.Models
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IEnumerable<IPublishedContent> items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("links");
    if (items == null || !items.Any())
    {
        return;
    }

    string horizontalAlignment = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("horizontalAlignment")?.SavedValue, "left", true);
    bool horizontalStack = Model.Content.GetPropertyValue<bool>("horizontalStack");

    <div class="r-item r-links r-links--@(horizontalStack ? "horizontal" : "vertical") r-links--@(horizontalAlignment)">

        @foreach (IPublishedContent item in items)
        {
            Newtonsoft.Json.Linq.JObject linkData = item.GetPropertyValue<Newtonsoft.Json.Linq.JObject>("link");
            if (linkData == null)
            {
                continue;
            }

            string linkType = A8.Common.CheckStr(item.GetPropertyValue<nuPickers.Picker>("linkType")?.SavedValue, "primary", true);

            string linkTitle = A8.CommonUmbraco.GenerateLinkTitle(linkData);
            string linkUrl = A8.CommonUmbraco.GenerateLink(linkData);

            <a class="r-links__link btn btn-@(linkType)" @Html.Raw(linkUrl)>@Html.Raw(linkTitle)</a>
        }
    </div>
}
