﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IEnumerable<IPublishedContent> items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content");

    if (items == null || !items.Any())
    {
        return;
    }

    bool preserveState = A8.Common.VerifyTrue(Model.Content.GetPropertyValue<bool>("preserveState"));
    int openedIdx = 0;
    bool opened = false;
    bool isOpenedSet = false;

    string title = string.Empty;
    string anchor = string.Empty;

    <div class="r-item r-collapsible collapsible_@(clientId)">

        @for (int i = 0; i <= items.Count() - 1; i++)
        {
            opened = items.ElementAt(i).GetPropertyValue<bool>("opened");
            if (!isOpenedSet && opened)
            {
                openedIdx = i;
                isOpenedSet = true;
            }
            title = items.ElementAt(i).GetPropertyValue<string>("title");
            anchor = items.ElementAt(i).GetPropertyValue<string>("anchor");

            <div class="r-collapsible__item">
                <h3 class="r-collapsible__title r-collapsible__title--closed" data-hash="@HttpUtility.HtmlEncode(anchor)">@(title)</h3>
                <div class="r-collapsible__content" style="display: none;">
                    @{
                        A8.ContentFlowModel model = new A8.ContentFlowModel()
                        {
                            ContentItems = items.ElementAt(i).GetPropertyValue<IEnumerable<IPublishedContent>>("content")
                        };
                        if (model != null)
                        {
                            @Html.Partial("~/Views/Partials/Renderers/ContentFlow/ContentFlow.cshtml", model)
                        }
                    }
                </div>
            </div>

        }

    </div>

    <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('.collapsible_@(clientId)').collapsible({
                    preserve_state: @(preserveState.ToString().ToLower()),
                    active_block: @(openedIdx)
                });
            });
    </script>

}