﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");
}

@helper RenderGridColumn(int i, IEnumerable<IPublishedContent> currentColumn, Dictionary<string, object> distribution)
{
    <div class="r-content-grid__item @(((string[])distribution["Layout"]).GetValue(i).ToString())">
        @{
            ViewDataDictionary viewData = new ViewDataDictionary();
            viewData.Add("maxImgSize", ((int[])distribution["maxImgSize"]).GetValue(i));

            A8.ContentFlowModel rendererModel = new A8.ContentFlowModel()
            {
                ContentItems = currentColumn
            };
            @Html.Partial("~/Views/Partials/Renderers/ContentFlow/ContentFlow.cshtml", rendererModel, viewData)
        }
    </div>
}

@helper RenderEmptyGridColumn(int i, Dictionary<string, object> distribution)
{
    <div class="r-content-grid__item @(((string[])distribution["Layout"]).GetValue(i).ToString())"><!----></div>
}

@helper RenderGridColumns()
{
    // column distribution
    string columnDistribution = Model.Content.GetPropertyValue<string>("columnsDistribution");
    if (columnDistribution.Length == 0)
    {
        columnDistribution = "1-1";
    }

    // adjust according to layout
    //int img11 = 2560;
    //int img12 = 1280;
    //int img13 = 900;
    //int img23 = 1800;
    //int img14 = 640;
    //int img34 = 1920;

    int img11 = 2560;
    int img12 = 1360;
    int img13 = 960;
    int img23 = 1840;
    int img14 = 640;
    int img34 = 1920;

    Dictionary<string, object> distribution = null;
    switch (columnDistribution)
    {
        case "1-1":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[2] { "r-content-grid__item--50", "r-content-grid__item--50" } },
        { "maxImgSize", new int[2] { img12, img12 }}
        };
                break;
            }
        case "1-1-1":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[3] { "r-content-grid__item--33", "r-content-grid__item--33", "r-content-grid__item--33" } },
        { "maxImgSize", new int[3] { img13, img13, img13 }}
        };
                break;
            }
        case "1-1-1-1":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[4] { "r-content-grid__item--25", "r-content-grid__item--25", "r-content-grid__item--25", "r-content-grid__item--25" } },
        { "maxImgSize", new int[4] { img14, img14, img14, img14 }}
        };
                break;
            }
        case "1-2":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[2] { "r-content-grid__item--33", "r-content-grid__item--66" } },
        { "maxImgSize", new int[2] { img13, img23 }}
        };
                break;
            }
        case "2-1":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[2] { "r-content-grid__item--66", "r-content-grid__item--33" } },
        { "maxImgSize", new int[2] { img23, img13 }}
        };
                break;
            }
        case "1-3":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[2] { "r-content-grid__item--25", "r-content-grid__item--75" } },
        { "maxImgSize", new int[2] { img14, img34 }}
        };
                break;
            }
        case "3-1":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[2] { "r-content-grid__item--75", "r-content-grid__item--25" } },
        { "maxImgSize", new int[2] { img34, img14 }}
        };
                break;
            }
        case "1-2-1":
            {
                distribution = new Dictionary<string, object>() {
        { "Layout", new string[3] { "r-content-grid__item--25", "r-content-grid__item--50", "r-content-grid__item--25" } },
        { "maxImgSize", new int[3] { img14, img12, img14 }}
        };
                break;
            }
    }

    // mold column distribution with data
    IEnumerable<IPublishedContent> contentItems = (IEnumerable<IPublishedContent>)Model.Content.GetProperty("columns").Value;
    if (contentItems != null && contentItems.Any())
    {
        int columns = ((string[])distribution["Layout"]).Length;

        <div class="r-item r-content-grid">
            @{
                for (int i = 0; i <= columns - 1; i++)
                {
                    if (i <= contentItems.Count() - 1)
                    {
                        IPublishedContent currentColumn = contentItems.ElementAt(i);
                        @RenderGridColumn(i, currentColumn.GetPropertyValue<IEnumerable<IPublishedContent>>("content"), distribution);
                    }
                    else
                    {
                        // add empty rows if there is no column data available
                        @RenderEmptyGridColumn(i, distribution);
                    }
                }
            }
        </div>
    }
}

@RenderGridColumns()