﻿<div ng-controller="A8.LinkPickerController">

    <div class="a8-link-picker">
        <p class="chosen" ng-show="model.value.url">
            <a href="{{model.value.url + model.value.querystring}}" target="_blank">{{model.value.name || model.value.url}}</a>
            <a class="remove" href="" ng-click="removeLink()"><i class="icon icon-delete"></i></a>
            <a class="edit" href="" ng-click="editLink()"><i class="icon icon-edit"></i></a>
        </p>
        <p class="internal-picker" ng-hide="model.value.url">
            <a class="link" href="" ng-click="chooseLink()">Choose</a>
        </p>
    </div>

</div>