// Helpers
.hide-on-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.hide-on-desktop {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

/* Object fit fallback for IE. */
.object-fit-ie {
  background-size: cover;
  background-position: center center;

  > img {
    opacity: 0;
  }
}

/* Helpers */
.hidden {
  display: none !important;
}

.cc-banner.cc-bottom {
  z-index: 99999;
}

.footer-banner {
  h1,
  h2,
  h3 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  }

  p {
    text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
  }
}

.input {
  position: relative;
}

.input-calendar {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 240px;
}

.form-group.checkbox {
  display: flex;
  flex-wrap: wrap;

  label {
    width: 100%;
  }

  .help-block {
    margin-left: 5px;
  }
}

.submenu > a > .submenu-indicator {
  position: absolute;
  top: 2px;
  font-size: 12px;
  right: 0;
  color: #dddddd;
  border-bottom: 0 !important;
}