*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
}

p {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  dt,
  dd {
    margin: 0;
  }

  dt {
    font-weight: bold;
  }
}

blockquote {
  font-style: italic;
  border-left: 3px solid @primary-color;
  padding: 10px 10px 10px 30px;
  margin: 0;
}

hr {
  border: 1px solid transparent;
  border-bottom: 1px solid #dfdfdf;
}