﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.FormEditor.Fields.DropdownField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
	<label for="@Model.FormSafeName">@Model.Label</label>
	<div class="input select">
		<select class="form-control" id="@Model.FormSafeName" name="@Model.FormSafeName" ng-model="formData.@Model.FormSafeName" @(Model.Mandatory ? "required" : null)>
			@{
				@Model.GetPreselectedValue();
			}
			@if (string.IsNullOrEmpty(Model.DefaultText) == false)
			{
				<option value="">@Model.DefaultText</option>
			}
			@foreach (A8.FormEditor.Fields.FieldValue fieldValue in Model.FieldValues)
			{
				<option @(fieldValue.Selected ? "ng-selected=\"selected\"" : "") value="@fieldValue.Value">@(fieldValue.Text)</option>
			}
		</select>
	</div>
	<div class="status">
		@Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
		@Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
	</div>
</div>