@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.FormEditor.Fields.TextboxField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
	<label for="@Model.FormSafeName">@Model.Label</label>
	<div class="input">
		<input type="text" class="form-control" id="@Model.FormSafeName" name="@Model.FormSafeName" placeholder="@Model.Placeholder" value="@Model.Value" ng-model="formData.@Model.FormSafeName" @(Model.IsReadOnly ? "readonly" : "") maxlength="@(Model.MaxLength > 0 ? @Model.MaxLength.ToString() : null)" @(Model.Mandatory ? "required" : null) />
	</div>
	<div class="status">
		@Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
		@Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
	</div>
</div>