@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.EmailField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
	<label for="@Model.FormSafeName">@Model.Label</label>
	<div class="input">
		<input type="email" class="form-control" id="@Model.FormSafeName" name="@Model.FormSafeName" placeholder="@Model.Placeholder" ng-model="formData.@Model.FormSafeName" multiple="@Model.Multiple" @(Model.Mandatory ? "required" : null) />
	</div>
	<div class="status">
		@Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
		@Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
	</div>
</div>
