@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.TextAreaField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
	<label for="@Model.FormSafeName">@Model.Label</label>
	<div class="input">
  		<textarea class="form-control" rows="4" id="@Model.FormSafeName" name="@Model.FormSafeName" placeholder="@Model.Placeholder" ng-model="formData.@Model.FormSafeName" maxlength="@(Model.MaxLength > 0 ? @Model.MaxLength.ToString() : null)" @(Model.Mandatory ? "required" : null)></textarea>
	</div>
	<div class="status">
		@Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
		@Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
	</div>
</div>
