﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IPublishedContent parentPage = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("parentPage")?.FirstOrDefault();
    IEnumerable<IPublishedContent> customPages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("customPages");

    List<IPublishedContent> pages = new List<IPublishedContent>();

    // first check if parent page
    if (parentPage != null && parentPage.Children.Any())
    {
        foreach (IPublishedContent childPage in parentPage.Children)
        {
            if (childPage.HasProperty("pageSummary"))
            {
                pages.Add(childPage);
            }
        }
    }
    // or then check custom pages
    else if (customPages != null && customPages.Any())
    {
        foreach (IPublishedContent customPage in customPages)
        {
            if (customPage != null && customPage.HasProperty("pageSummary"))
            {
                pages.Add(customPage);
            }
        }
    }

    if (pages.Any())
    {
        <div class="r-item r-menu-grid r-menu-grid--align-center">
            @foreach (IPublishedContent page in pages)
            {
                IPublishedContent pageSummary = page.GetPropertyValue<IPublishedContent>("pageSummary");
                string summary = pageSummary.GetPropertyValue<string>("summary");
                IPublishedContent imageFile = pageSummary.GetPropertyValue<IPublishedContent>("image");
                A8.MediaImage image = null;
                if (imageFile != null)
                {
                    image = A8.MediaImages.LoadMediaImage(imageFile, page.Name, page.Name, summary);
                }
                <div class="r-menu-grid__item">
                    <div class="r-menu-grid__image-container">
                        @if (image != null)
                        {
                            // can be some dummy image
                            @Html.Raw(A8.Common.GeneratePictureTag(image.Url, "land-4-3", image.Alt, image.Title, "r-menu-grid__image lazyload", 960))
                        }
                    </div>
                    <div class="r-menu-grid__content">
                        <h3 class="r-menu-grid__title">@(page.Name)</h3>
                        @if (summary.Length > 0)
                        {
                            <div class="r-menu-grid__description">
                                @Html.Raw(A8.Common.NewLineToBreak(summary))
                            </div>
                        }
                        <a class="r-menu-grid__button btn btn-primary" href="@(page.Url)">@(A8.CommonUmbraco.Translate("general.more"))</a>
                    </div>
                </div>
            }
        </div>
    }
}