﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string icon = A8.Common.CheckStr(Model.MacroParameters["key"]);
    switch (icon)
    {
        case "1-1":
            {
                <br /><img src="~/images/contentGridIcons/1-1.png" alt="1-1 default" title="1-1 default" />
                break;
            }
        case "1-1-1":
            {
                <br /><img src="~/images/contentGridIcons/1-1-1.png" alt="1-1-1" title="1-1-1" />
                break;
            }
        case "1-1-1-1":
            {
                <br /><img src="~/images/contentGridIcons/1-1-1-1.png" alt="1-1-1-1" title="1-1-1-1" />
                break;
            }
        case "1-2":
            {
                <br /><img src="~/images/contentGridIcons/1-2.png" alt="1-2" title="1-2" />
                break;
            }
        case "2-1":
            {
                <br /><img src="~/images/contentGridIcons/2-1.png" alt="2-1" title="2-1" />
                break;
            }
        case "1-3":
            {
                <br /><img src="~/images/contentGridIcons/1-3.png" alt="1-3" title="1-3" />
                break;
            }
        case "3-1":
            {
                <br /><img src="~/images/contentGridIcons/3-1.png" alt="3-1" title="3-1" />
                break;
            }
        case "1-2-1":
            {
                <br /><img src="~/images/contentGridIcons/1-2-1.png" alt="1-2-1" title="1-2-1" />
                break;
            }
    }
}
