﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string icon = A8.Common.CheckStr(Model.MacroParameters["key"]);
    switch (icon)
    {
        case "1t-1i":
            {
                <br /><img src="~/images/contentWithImagesIcons/1t-1i.png" alt="1t-1i default" title="1t-1i default" />
                break;
            }
        case "1i-1t":
            {
                <br /><img src="~/images/contentWithImagesIcons/1i-1t.png" alt="1i-1t" title="1i-1t" />
                break;
            }
        case "2t-1i":
            {
                <br /><img src="~/images/contentWithImagesIcons/2t-1i.png" alt="2t-1i" title="2t-1i" />
                break;
            }
        case "1i-2t":
            {
                <br /><img src="~/images/contentWithImagesIcons/1i-2t.png" alt="1i-2t" title="1i-2t" />
                break;
            }
        case "3t-1i":
            {
                <br /><img src="~/images/contentWithImagesIcons/3t-1i.png" alt="3t-1i" title="3t-1i" />
                break;
            }
        case "1i-3t":
            {
                <br /><img src="~/images/contentWithImagesIcons/1i-3t.png" alt="1i-3i" title="1i-3i" />
                break;
            }
        case "1t-2i":
            {
                <br /><img src="~/images/contentWithImagesIcons/1t-2i.png" alt="1t-2i" title="1t-2i" />
                break;
            }
        case "2i-1t":
            {
                <br /><img src="~/images/contentWithImagesIcons/2i-1t.png" alt="2i-1t" title="2i-1t" />
                break;
            }
        case "1t-3i":
            {
                <br /><img src="~/images/contentWithImagesIcons/1t-3i.png" alt="1t-3i" title="1t-3i" />
                break;
            }
        case "3i-1t":
            {
                <br /><img src="~/images/contentWithImagesIcons/3i-1t.png" alt="3i-1t" title="3i-1t" />
                break;
            }
        case "1t-1i-1i":
            {
                <br /><img src="~/images/contentWithImagesIcons/1t-1i-1i.png" alt="1t-1i-1i" title="1t-1i-1i" />
                break;
            }
        case "1i-1i-1t":
            {
                <br /><img src="~/images/contentWithImagesIcons/1i-1i-1t.png" alt="1i-1i-1t" title="1i-1i-1t" />
                break;
            }
        case "2t-1i-1i":
            {
                <br /><img src="~/images/contentWithImagesIcons/2t-1i-1i.png" alt="2t-1i-1i" title="2t-1i-1i" />
                break;
            }
        case "1i-1i-2t":
            {
                <br /><img src="~/images/contentWithImagesIcons/1i-1i-2t.png" alt="1i-1i-2t" title="1i-1i-2t" />
                break;
            }
        case "1t-1i-1i-1i":
            {
                <br /><img src="~/images/contentWithImagesIcons/1t-1i-1i-1i.png" alt="1t-1i-1i-1i" title="1t-1i-1i-1i" />
                break;
            }
        case "1i-1i-1i-1t":
            {
                <br /><img src="~/images/contentWithImagesIcons/1i-1i-1i-1t.png" alt="1i-1i-1i-1t" title="1i-1i-1i-1t" />
                break;
            }
    }
}

