﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string icon = A8.Common.CheckStr(Model.MacroParameters["key"]);
    switch (icon)
    {
        case "2":
            {
                <br /><img src="~/images/contentGridIcons/1-1.png" alt="2" title="2" />
                break;
            }
        case "3":
            {
                <br /><img src="~/images/contentGridIcons/1-1-1.png" alt="3" title="3" />
                break;
            }
        case "4":
            {
                <br /><img src="~/images/contentGridIcons/1-1-1-1.png" alt="4" title="4" />
                break;
            }
        case "6": 
            {
                <br /><img src="~/images/contentGridIcons/1-1-1-1-1-1.png" alt="6" title="6" />
                break;
            }
    }
}
