﻿@using Umbraco.Web.Models
@model A8.PageBaseModel
@{
    string copyright = Model.SiteSettingsContent.GetPropertyValue<string>("copyright")?.Replace("##YEAR##", DateTime.Now.Year.ToString());
}

<footer id="Footer" class="clearfix">
    <div class="widgets_wrapper">
        <div class="container">
            @{
                IEnumerable<IPublishedContent> items = Model.SiteSettingsContent.GetPropertyValue<IEnumerable<IPublishedContent>>("footerColumns");
                if (items != null && items.Any())
                {
                    foreach (IPublishedContent item in items)
                    {
                        <div class="column one-fourth">
                            @Html.Partial("~/Views/Partials/Renderers/ContentFlow/ContentFlow.cshtml", new A8.ContentFlowModel()
                            {
                                ContentItems = item.GetPropertyValue<IEnumerable<IPublishedContent>>("footerColumn")
                            })
                        </div>
                    }
                }
            }
        </div>
        @*<div style="font-size: 20px;">
                <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-skype"></i></a>
            </div>*@
    </div>
    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <a id="back_to_top" class="button button_js" href="#"><i class="fa fa-chevron-up"></i></a>
                <div class="copyright">
                    @Html.Raw(Model.SiteSettingsContent.GetPropertyValue<string>("copyright")?.Replace("##YEAR##", DateTime.Today.Year.ToString()))
                </div>
                <div class="copyright">
                    <img src="~/Images/vezi_narave_small.png" alt="Vezi narave" />
                </div>
                <div class="copyright">
                    <img src="~/Images/interreg_small.png" alt="Interreg" />
                </div>
            </div>
        </div>
    </div>
</footer>