<div ng-controller="A8.KeyValuePairsController">
    <div class="a8keyvaluepairs">
        <div>
            <span class="spacer">&nbsp;</span>&nbsp;
            <span class="keyvalue keyvalue__key">Key&nbsp;<small>(required)</small></span>&nbsp;
            <span class="keyvalue keyvalue__value">Value</span>&nbsp;
        </div>
        <ul dnd-list="lists" dnd-allowed-types="['item-{{timestamp}}']">
            <li ng-repeat="item in lists"
                dnd-type="'item-{{timestamp}}'"
                dnd-draggable="item"
                dnd-moved="lists.splice($index, 1)"
                dnd-effect-allowed="move"
                ng-class="{'selected': models.selected === item}">
                <dnd-nodrag>
                    <i class="btn icon icon-navigation handle" title="Move"></i>
                    <input required class="keyvalue keyvalue__key" type="text" ng-model="item.key" />&nbsp;
                    <input required class="keyvalue keyvalue__value" type="text" ng-model="item.value" />&nbsp;
                    <i class="btn icon icon-remove pointer" title="Remove" ng-click="Remove($index);"></i>
                </dnd-nodrag>
            </li>
        </ul>

        <div class="keyvalueadd">
            <span class="spacer">&nbsp;</span>&nbsp;
            <input class="keyvalue keyvalue__key" type="text" ng-model="new_key" />&nbsp;
            <input class="keyvalue keyvalue__value" type="text" ng-model="new_value" />&nbsp;
            <i class="btn icon icon-add pointer" title="Add" ng-click="Add();"></i>
        </div>
    </div>
</div>
