﻿@using System.Collections;
@using System.Text;
@model A8.ContentFlowModel

@{
    // not yet implemented (use HtmlAgilityPack!)
    //string formatTable = Model.Content.GetPropertyValue<string>("formatTable");

    // ANULLATE <P> WITH CSS !!!

    bool contentWidth = Model.Content.GetPropertyValue<bool>("contentWidth");
    string style = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("style").SavedValue, "default", true);
    string table = Model.Content.GetPropertyValue<string>("table");

    table = table.Replace(" tabindex=\"1\"", string.Empty);
}

<div class="r-item r-table @(contentWidth ? string.Empty : "r-table--full-width") r-table--@(style)">
    @Html.Raw(table)
</div>

@*
        formatter - not implemented yet
        <table>
        <tbody>
            <tr>
                <td tabindex="1">50%</td>
                <td tabindex="1">50%</td>
            </tr>
        </tbody>
    </table>

    table
    <table>
        <tbody>
            <tr>
                <th tabindex="1">header 1</th>
                <th tabindex="1">header 2</th>
            </tr>
            <tr>
                <td tabindex="1">cell 1</td>
                <td tabindex="1">cell 2</td>
            </tr>
        </tbody>
    </table>*@
