﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IPublishedContent form = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("form")?.FirstOrDefault();
    if (form == null)
    {
        return;
    }

    ViewBag.FormName = "formItem";
    ViewBag.FormContent = form;
    ViewBag.FormAppDeclared = true;
    ViewBag.FormAppName = "form_" + clientId;
}

<div id="form_@(clientId)" class="r-item r-form">
    @Html.Partial("FormEditor/Async", form)
    <script src="/Scripts/FormEditorAsync.js"></script>
</div>