﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string spacerType = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("spacerType")?.SavedValue, "space", true);
}

<div class="r-item r-spacer r-spacer--@(spacerType)"></div>
