﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = A8.Common.CheckStr(ViewData["clientId"]);

    IEnumerable<IPublishedContent> medias = (IEnumerable<IPublishedContent>)Model.ContentItems;
    int itemsPerRow = A8.Common.CheckNum(Model.CustomModel);
    if (itemsPerRow == 0)
    {
        itemsPerRow = 4;
    }

    foreach (IPublishedContent media in medias)
    {
        switch (media.DocumentTypeAlias)
        {
            case "ecSimpleImages":
                {
                    IEnumerable<IPublishedContent> items = media.GetPropertyValue<IEnumerable<IPublishedContent>>("images");
                    if (items != null && items.Any())
                    {
                        foreach (IPublishedContent item in items)
                        {
                            switch (item.DocumentTypeAlias)
                            {
                                case "Folder":
                                    {
                                        IEnumerable<IPublishedContent> images = item.Children(x => x.DocumentTypeAlias == "Image");
                                        if (images != null && images.Any())
                                        {
                                            foreach (IPublishedContent image in images)
                                            {
                                                A8.MediaImage mediaImage = A8.MediaImages.LoadMediaImage(image, string.Empty, string.Empty, string.Empty);
                                                <a href="/imagelib/2560-orig@(mediaImage.Url)" class="r-gallery__item r-gallery__item--image">
                                                    @Html.Raw(A8.Common.GeneratePictureTag(mediaImage.Url, "land-4-3", mediaImage.Alt, mediaImage.Title, "r-gallery__image lazyload", 960))
                                                </a>
                                            }
                                        }
                                        break;
                                    }
                                case "Image":
                                    {
                                        A8.MediaImage mediaImage = A8.MediaImages.LoadMediaImage(item, string.Empty, string.Empty, string.Empty);
                                        <a href="/imagelib/2560-orig@(mediaImage.Url)" class="r-gallery__item r-gallery__item--image">
                                            @Html.Raw(A8.Common.GeneratePictureTag(mediaImage.Url, "land-4-3", mediaImage.Alt, mediaImage.Title, "r-gallery__image lazyload", 960))
                                        </a>
                                        break;
                                    }
                            }
                        }
                    }
                    break;
                }
            case "ecSimpleVideos":
                {
                    string[] codes = media.GetPropertyValue<string[]>("codes");
                    if (codes.Length > 0)
                    {
                        foreach (string code in codes)
                        {
                            <a href="https://www.youtube.com/watch?v=@(code)" class="r-gallery__item r-gallery__item--image mfp-iframe">
                                @*@(Shared.Helpers.GetYoutubeIframe(clientId, code))*@
                                <img src="http://img.youtube.com/vi/@(code)/0.jpg" alt="" />
                            </a>
                        }
                    }
                    break;
                }
        }
    }

}
