﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string gmapApiKey = A8.Common.CheckStr(A8.CommonUmbraco.GetSiteSettingsContent().GetPropertyValue<string>("gmapApiKey"));
    if (gmapApiKey.Length == 0)
    {
        gmapApiKey = A8.Common.GetSettings("gmapApiKey");
    }

    string address = Model.Content.GetPropertyValue<string>("address");
    decimal latitudeY = Model.Content.GetPropertyValue<decimal>("latitudeY");
    decimal longitudeX = Model.Content.GetPropertyValue<decimal>("longitudeX");
    int zoom = A8.Common.CheckNum(Model.Content.GetPropertyValue<int>("zoom"));
    if (zoom == 0)
    {
        zoom = 13;
    }
    string mapType = (Model.Content.GetPropertyValue<bool>("satellite") ? "satellite" : "roadmap");

    // hard coded
    int gmapHeight = 600;

    if (address.Length == 0 && latitudeY == 0 && longitudeX == 0)
    {
        return;
    }

    string gmapUrl = string.Empty;
    if (gmapApiKey.Length > 0)
    {
        // new way
        gmapUrl = "?key=" + gmapApiKey;
        if (address.Length > 0)
        {
            gmapUrl += "&q=" + address;
        }
        else if (latitudeY != 0 || longitudeX != 0)
        {
            gmapUrl += "&q=" + Convert.ToString(longitudeX, System.Globalization.CultureInfo.InvariantCulture) + "," + Convert.ToString(latitudeY, System.Globalization.CultureInfo.InvariantCulture);
        }
        else
        {
            return;
        }
        gmapUrl += "&zoom=" + zoom.ToString() + "&maptype=" + mapType + "&language=" + A8.CommonUmbraco.CurrentLanguageCodeISO().ToLower();

        gmapUrl = "https://www.google.com/maps/embed/v1/place" + HttpUtility.UrlPathEncode(gmapUrl);
    }
    else
    {
        //old way
        gmapUrl = "?width=100%&height=" + gmapHeight;
        if (address.Length > 0)
        {
            gmapUrl += "&q=" + address;
        }
        else if (latitudeY != 0 || longitudeX != 0)
        {
            gmapUrl += "&q=" + Convert.ToString(longitudeX, System.Globalization.CultureInfo.InvariantCulture) + "," + Convert.ToString(latitudeY, System.Globalization.CultureInfo.InvariantCulture);
        }
        else
        {
            return;
        }
        gmapUrl += "&ie=UTF8&t=" + (mapType == "satellite" ? "k" : string.Empty) + "&z=" + zoom.ToString() + "&iwloc=A&output=embed&hl=" + A8.CommonUmbraco.CurrentLanguageCodeISO().ToLower();

        gmapUrl = "https://maps.google.com/maps" + HttpUtility.UrlPathEncode(gmapUrl);
    }

    <div class="r-item r-gmap-simple">
        <iframe width="100%" height="@(gmapHeight)" src="@(gmapUrl)" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" style="border:0"></iframe>
    </div>
}