.p-breadcrumbs {
  margin: 20px 0 30px;

  &__item {
    &:not(:last-child) {
      &::after {
        display:inline-block;
        content: '>';
        text-decoration: none;
        color: @body-color;
        margin-left: 8px;
        margin-right: 6px;
      }
    }
  }
}