.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px 30px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 300ms ease-out;

  &-primary {
    color: #ffffff;
    background-color: @primary-color;

    &:focus,
    &:hover {
      background-color: darken(@primary-color, 6);
    }
  }

  &-secondary {
    color: @gray;
    background-color: @blue;

    &:focus,
    &:hover {
      background-color: darken(@blue, 6);
    }
  }

  &-link {
    font-weight: normal;
    padding: 0;
    margin: 0 5px 0 0;
  }

  &-with-icon {
    &::after {
      content: '\e917';
      font-family: "mfn-icons";
      font-weight: 400;
      margin-left: 10px;
    }
  }
}