.fp-banner-slick {
  &__item {
    height: 90vh;
  }

  &__image {
    height: 90vh;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10%;
    top: 0;
    bottom: 0;
    z-index: 10;

    @media (min-width: @xl-breakpoint) {
      padding: 0;
      left: 10%;
      max-width: 50%;
    }
  }

  &__title {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    color: #ffffff;
    line-height: 1;
  }

  &__description {
    font-size: 16px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
    color: #ffffff;
    margin-bottom: 20px;

    @media (min-width: @xl-breakpoint) {
      font-size: 18px;
    }
  }

  &__video-image {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
  }
}