.news {
  &__title-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__main-title {
    font-size: 70px;
    font-weight: bold;
    color: @heading-color;
    margin-bottom: 0;
  }

  &__item-container {
    display: flex;
    margin: 0 -20px;
  }

  &__item {
    flex: 1 0 0;
    color: @gray;
    background-color: #62635D;
    margin: 0 20px 30px;

    &:focus,
    &:hover {
      color: #62635D;
      text-decoration: none;
    }
  }

  &__image {
    display: block;
  }

  &__content {
    padding: 15px 20px 20px;
  }

  &__date {
    color: @primary-color;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.5;
  }
}